body{
    cursor: url("data:image/svg+xml,%3Csvg%20xmlns='http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20width='32'%20height='32'%20viewBox='0%200%2032%2032'%3E%3Cpolygon%20points='16%2C2%2026%2C26%206%2C26'%20style='fill%3Alime%3Bstroke%3Ablack%3Bstroke-width%3A1'%20transform='rotate(330%2016%2016)'%20%2F%3E%3C%2Fsvg%3E"), auto;
}
/*no cursor when arrows pressed*/
body.no_cursor{
    cursor: none;
}

/* no cursor during animation */
/* body.no_cursor_animation{
    cursor: none;
} */

#game{
    display: flex;

    font-family: fallout_font;
    color: #0cff06;
    font-size: 2rem;
}

#game span{
    opacity: 0;
}

#game #attempts{
    opacity: 0;
}

#wrapper #game .show{
    opacity: 1;
}

#game #game_info{
    padding: 0.8rem 0;
    display: flex;
    flex-direction: column;
    gap:0.8rem;
}

#game #game_info > div{
    display: flex;
}

#game #attempts_remaining{
    display: flex;
}

#game #attempts{
    display: flex;
    gap:0.8rem;
    align-items: center;
}

#game #attempts .attempt{
    background-color: #0cff06;
    width: 1rem;
    height: 1.3rem;
}

#game_grid{
    display: flex;
    gap:1rem;
}

#game_grid #non_interactable_column_1,
#game_grid #non_interactable_column_2{
    display: flex;
    flex-direction: column;
}

#game_grid #interactable_column_1,
#game_grid #interactable_column_2{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(16, 1fr); 
}

#game_grid .word{
    display: flex;  
}

#game_grid .make_green{
    background-color: #0cff06;
    color:black;
}

#word_likeness_column{
    display: flex;
    flex-direction: column;
    justify-content:end;
}

